[project]
	state = active
[access "refs/*"]
	owner = group Administrators
	create = group v909 maintainers
	push = +force group v909 maintainers
	label-Code-Review = -2..+2 group v909 maintainers
	label-Verified = -1..+1 group v909 maintainers
	submit = group v909 maintainers
	forgeCommitter = group v909 maintainers
